[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 450px;
  max-height: 100vh;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.keen-slider {
  height: calc(100vh - 15em);

  @media (max-width: 767px) {
    height: calc(100vh - 12em);
  }
}
